%h1= "Welcome, #{@profile.user.name}"

- unless current_user.has_family?
  = link_to 'Create or join family', new_family_path, class: "button"
- else
  .row
    = link_to 'Family Members', family_members_path(current_user.family), class: 'button tiny'
    = link_to 'Message Board',
      family_family_messages_path(current_user.family),
      class: "button tiny"

    %h1 Invite Family Members
    = form_for FamilyInvitation.new do |f|
      = f.label :email
      = f.text_field :email

      = f.submit 'Send invite', class: "button success"


-# = link_to 'Family Invite Test', family_invitation_path(@invite), class: 'button'

