%h1= "Welcome, #{@profile.user.name}"

- unless current_user.has_family?
  = link_to 'Create or join family', new_family_path, class: "button tiny main-button"
- else
  .grid-items-lines
    = link_to family_members_path(current_user.family), class: 'grid-item' do
      %i.fa.fa-users.fa-3x
      %h1 Family Members
      %p Manage and invite family members. Send private messages
    = link_to family_family_messages_path(current_user.family), class: 'grid-item' do
      %i.fa.fa-comments-o.fa-3x
      %h1 Message Board
      %p Post chores, events, sharables, and general information
    = link_to conversations_path, class: 'grid-item' do
      %i.fa.fa-envelope-o.fa-3x
      %h1 Private Messages
      %p Have personal conversations, plan surprise parties, and much more!
    %a.grid-item{:href => "javascript:void(0)"}
      %i.fa.fa-calendar.fa-3x
      %h1 Family Calendar
      %p Feature coming soon...
    %a.grid-item{:href => "javascript:void(0)"}
      %i.fa.fa-camera-retro.fa-3x
      %h1 Photo Board
      %p Feature coming soon...
    %a.grid-item{:href => "javascript:void(0)"}
      %i.fa.fa-user-md.fa-3x
      %h1 Health Board
      %p Feature coming soon...
    .right-cover
