.row
  .large-2.columns
    = link_to family_family_messages_path(@family, q: params[:q].to_i + 1 ) do
      %i.fa.fa-arrow-left.fa-2x.previous-day

  .large-8.columns
    %h2.text-center
      = "Message Board"
      = params[:q].to_i.days.ago.strftime('%B %d, %Y')
    %hr

  .large-2.columns
    - unless @finder.page_one?
      = link_to family_family_messages_path(@family, q: params[:q].to_i - 1) do
        %i.fa.fa-arrow-right.fa-2x.right.next-day

= render 'message'

.row
  .large-6.columns
    %h2 Sharables
    %ul
      - @sharables.each do |message|
        .comment
          .comment-image
            %i.fa.fa-user.fa-3x
          .comment-content
            %p= message.message
            %p.comment-detail= "by #{message.user.name}, #{time_ago_in_words(message.created_at)} ago"

    %h2 Chores
    %ul
      - @chores.each do |message|
        .comment
          .comment-image
            %i.fa.fa-user.fa-3x
          .comment-content
            %p= message.message
            %p.comment-detail= "by #{message.user.name}, #{time_ago_in_words(message.created_at)} ago"


    %h2 Events
    %ul
      - @events.each do |message|
        .comment
          .comment-image
            %i.fa.fa-user.fa-3x
          .comment-content
            %p= message.message
            %p.comment-detail= "by #{message.user.name}, #{time_ago_in_words(message.created_at)} ago"

  .large-6.columns
    %h2 General
    %ul
      - @general.each do |message|
        .comment
          .comment-image
            %i.fa.fa-user.fa-3x
          .comment-content
            %p= message.message
            %p.comment-detail= "by #{message.user.name}, #{time_ago_in_words(message.created_at)} ago"

