%h2.text-center= "Message Board - #{Date.today.strftime('%B %d, %Y')}"

= link_to 'previous', family_family_messages_path(@family, q: 1)
= link_to_unless @finder.page_one?, 'next', family_family_messages_path(@family, q: 0)

= render 'message'

.row
  .large-6.columns
    %h2 Sharables
    %ul
      - @sharables.each do |message|
        %li.message.sharable= "#{message.message} - by #{message.user.name}, #{time_ago_in_words(message.created_at)} ago"

    %h2 Chores
    %ul
      - @chores.each do |message|
        %li.message.chore= "#{message.message} - by #{message.user.name}, #{time_ago_in_words(message.created_at)} ago"

    %h2 Events
    %ul
      - @events.each do |message|
        %li.message.event= "#{message.message} - by #{message.user.name}, #{time_ago_in_words(message.created_at)} ago"

  .large-6.columns
    %h2 General
    %ul
      - @general.each do |message|
        %li.message.general= "#{message.message} - by #{message.user.name}, #{time_ago_in_words(message.created_at)} ago"

