%h1 Message Board
= form_for [current_user.family, @message] do |f|
  = f.label :message
  = f.text_area :message

  = f.label :message_category_id
  = f.select :message_category_id, MessageCategory.all.map { |n| [n.name, n.id] }

  = f.submit 'Create Message', class: 'button tiny'

%ul
- @messages.each do |message|
  %li= "#{message.message_category.name} - #{message.message} - by #{message.user.name}, #{time_ago_in_words(message.created_at)} ago"
