%h2.text-center
  = "Message Board"
  = params[:q].to_i.days.ago.strftime('%B %d, %Y')

= link_to 'previous', family_family_messages_path(@family, q: params[:q].to_i + 1 )
- unless @finder.page_one?
  = link_to 'next', family_family_messages_path(@family, q: params[:q].to_i - 1)

= render 'message'

.row
  .large-6.columns
    %h2 Sharables
    %ul
      - @sharables.each do |message|
        %li.message.sharable= "#{message.message} - by #{message.user.name}, #{time_ago_in_words(message.created_at)} ago"

    %h2 Chores
    %ul
      - @chores.each do |message|
        %li.message.chore= "#{message.message} - by #{message.user.name}, #{time_ago_in_words(message.created_at)} ago"

    %h2 Events
    %ul
      - @events.each do |message|
        %li.message.event= "#{message.message} - by #{message.user.name}, #{time_ago_in_words(message.created_at)} ago"

  .large-6.columns
    %h2 General
    %ul
      - @general.each do |message|
        %li.message.general= "#{message.message} - by #{message.user.name}, #{time_ago_in_words(message.created_at)} ago"

