%h2 Invite Family Members
= form_for @invitation do |f|
  - if @invitation.errors.any?
    %ul
      - @invitation.errors.full_messages.each do |error|
        %li= error

  = f.label :email
  = f.text_field :email

  = f.label :name
  = f.text_field :name

  = f.submit 'Send invite', class: "button main-button tiny"

%h2 Family Members
%table.table-minimal
  %thead
    %tr
      %th
      %th Name
      %th Email
  %tbody
    - @members.each do |member|
      %tr
        %td{width: 150}= image_tag member.avatar_url, class: 'avatar-img'
        %td= member.name
        %td= member.email



