!!! html
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(content="width=device-width, initial-scale=1.0" name="viewport")

    %title= content_for?(:title) ? yield(:title) : "Whiteboard - FMS"

    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico"

    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  %body
    = render 'layouts/nav'
    = render 'layouts/notifications'

    = yield :hero

    - if page_class == "welcome index"
      .section-one
        .row.wrapper-for-content-outside-of-footer{ class: page_class }
          .small-12.columns
            #content
              ~ yield
    - else
      .row.wrapper-for-content-outside-of-footer{ class: page_class }
        .small-12.columns
          #content
            ~ yield

    = yield :section_two

    = render 'layouts/footer'

    = javascript_include_tag "application"

